[submodule "lib/smctc"]
	path = lib/smctc
	url = https://github.com/matsengrp/smctc.git
[submodule "lib/lcfit"]
	path = lib/lcfit
	url = https://github.com/matsengrp/lcfit.git
[submodule "lib/lesplace"]
	path = lib/lesplace
	url = https://github.com/4ment/lesplace
